// Caption: Collections allow you to group list objects together.

mixin collection(it)
  - headerClass = it.header ? 'with-header' : ''
  - dismissable = it.dismissable ? 'dismissable' : ''

  ul.collection(class="#{headerClass}")

    if it.avatar
      each item in it.items
        li.collection-item.avatar
          img.circle(src='#{item.image}', alt='')
          span.title= item.title
          p !{item.text}
          a.secondary-content(href='#{item.href}')
            i.mdi-action-grade

    else
      if it.header
        li.collection-header
          h4= it.header

      each item in it.items
        if it.secondaryContent
          li.collection-item(class="#{dismissable}")
            div
              | #{item.text}
              a.secondary-content(href='#{item.href}')
                i.mdi-content-send

        else
          if item.href
            - activeClass = item.active ? 'active' : ''
            a.collection-item(href="#{item.href}" class="#{activeClass} #{dismissable}")= item.text

          else
            li.collection-item(class="#{dismissable}")= item.text

if patternLibrary

  // Title: Dismissable Content
  +collection({
    dismissable: true,
    header: "First Names",
    secondaryContent: true,
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })

  // Title: Collection
  +collection({
    items: [
      {
        text: "Alvin"
      },
      {
        text: "James"
      },
      {
        text: "Alvin"
      },
      {
        text: "Alvin"
      }
    ]
  })

  // Title: Links
  +collection({
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })

  // Title: Headers
  +collection({
    header: "First Names",
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })

  // Title: Secondary Content
  +collection({
    header: "First Names",
    secondaryContent: true,
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })

  // Title: Avatar Content
  +collection({
    avatar: true,
    items: [
      {
        href: "#",
        title: "Title",
        text: "First line</br>Second Line",
        image: "../images/avatars/avatar_1.jpg"
      },
      {
        href: "#",
        title: "Title",
        text: "First line</br>Second Line",
        image: "../images/avatars/avatar_2.jpg"
      }
    ]
  })
