mixin form(it)
  .row
    form.col.s12
      each row in it
        .row
          each field in row.fields
            - size = field.size ? 's' + field.size : 's12'
            - active = field.placeholder || field.disabled ? 'active' : ''
            - placeholder = field.placeholder ? field.placeholder : ''
            - value = field.value ? field.value : ''

            if field.type === 'select' && field.browserDefault
              select.browser-default
                option(value='', disabled='', selected='') Choose your option
                option(value='1') Option 1
                option(value='2') Option 2
                option(value='3') Option 3

            else
              .input-field.col(class="#{size}")
                if field.icon
                  i(class="mdi-#{field.icon} prefix")

                if field.type === 'textarea'
                  textarea(id="#{field.id}" class="materialize-textarea")

                else if field.type === 'select'
                  select
                    option(value='', disabled='', selected='') Choose your option
                    option(value='1') Option 1
                    option(value='2') Option 2
                    option(value='3') Option 3


                else
                  if field.disabled
                    input.validate(id="#{field.id}" placeholder='#{placeholder}' type='#{field.type}' value='#{value}' disabled)
                  else
                    input.validate(id="#{field.id}" placeholder='#{placeholder}' type='#{field.type}' value='#{value}')

                label(for='#{field.id}' class="#{active}")= field.label

if patternLibrary
  // Title: Input Fields
  +form([
    {
      fields: [
        {
          size: 6,
          placeholder: "Placeholder",
          type: "text",
          label: "First Name",
          id: "first_name"
        },
        {
          size: 6,
          type: "text",
          label: "Last Name",
          id: "last_name"
        }
      ]
    },
    {
      fields: [{
        type: "text",
        id: "disabled",
        label: "Disabled",
        disabled: true,
        value: "I am not editable"
      }]
    },
    {
      fields: [{
        type: "password",
        id: "password",
        label: "Password"
      }]
    },
    {
      fields: [{
        type: "email",
        id: "email",
        label: "Email"
      }]
    }
  ])

  // Title: Icon Prefixes
  +form([{
    fields: [
      {
        size: 6,
        type: "text",
        label: "First Name",
        id: "first_name",
        icon: "action-account-circle"
      },
      {
        size: 6,
        type: "tel",
        label: "Telephone",
        id: "telephone",
        icon: "communication-phone"
      }
    ]
  }])

  // Title: Textarea
  +form([{
    fields: [
      {
        type: "textarea",
        label: "Textarea",
        id: "textarea"
      }
    ]
  }])

  // Title: Select
  // showScript: true
  +form([{
    fields: [
      {
        size: 6,
        type: "select",
        label: "Select",
        id: "select"
      }
    ]
  }])

  // Title: Select - Browser Default
  +form([{
    fields: [
      {
        size: 6,
        type: "select",
        label: "Select",
        id: "select",
        browserDefault: true
      }
    ]
  }])
