mixin string(item1)
  p= item1

mixin multiString(item1, item2, item3)
  p= item1
  p= item2
  p= item3

mixin object(items)
  p= items.item1
  p= items.item2

mixin multiObject(items1, items2)
  p= items1.item1
  p= items1.item2
  p= items2.item1
  p= items2.item2



if patternLibrary
  // Title: Single String test
  // Description: I am a Single String test
  +string('Item string, 1')

  // Title: Multi String test
  // Description: I am a Multi String test
  +multiString('Item string, 1', 'Item string, 2', 'Item string, 3')

  // Title: Single Object Test
  // Description: I am a single object test
  +object({
    item1: "foo",
    item2: "bar"
  })

  // Title: Multi Object Test
  // Description: I am a mutliple object test
  +multiObject({
    item1: "foo 1",
    item2: "bar 1"
  },
  {
    item1: "foo 2",
    item2: "bar 2"
  })
