mixin pattern(it)
  h3= it.title

  if it.desc
    .jayda-example-description !{it.desc}

  if it.example && !it.tag
    div.example !{it.example}

  if it.tag
    div.example !{it.tag}

  if it.tag
    pre
      code.language-markup
        div.example #{it.tag}


  pre
    if it.mixinName
      code.language-jade +#{it.mixinName}(#{it.customArgs})
    else if it.codeSnippet
      - lang = it.codeSnippetLanguage ? it.codeSnippetLanguage : 'language-markup'
      code(class="#{lang}") #{it.codeSnippet}
    else
      code.language-markup #{it.example}

  if it.script
    h4 Script
    pre
      code.language-javascript= it.script


// Call Mixin
+pattern()
