mixin pattern(title, desc, example, mixinName, customArgs, script)
  h3= title

  if desc
    p= desc

  div.example !{example}

  pre
    code.language-javascript +#{mixinName}(#{customArgs})

  if script
    h4 Script
    pre
      code.language-javascript= script


// Call Mixin
+pattern()
