mixin pattern(title, desc, example, mixinName, customArgs, script)
  h3= title

  if desc
    p.jayda-example-description !{desc}

  div.example !{example}

  pre
    if mixinName
      code.language-jade +#{mixinName}(#{customArgs})
    else
      code.language-markup #{example}

  if script
    h4 Script
    pre
      code.language-javascript= script


// Call Mixin
+pattern()
